@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
.header {
    background: linear-gradient(0.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.main {
    background: linear-gradient(0.00deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.middle {
    background: linear-gradient(rgb(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) 100%);
}

.we-section {

    place-items: center;

}

.from {
    background-image: url("../assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}